.env
.env.*
!/.env.example
config/IMAP_CREDENTIALS.js
config/mailboxes.json
scan-results/
archive/
downloads/
downloads_raw/
node_modules/
package-lock.json
*.tgz
*.log
.git/
.vscode/
.idea/
Thumbs.db
.DS_Store
